@use 'variables' as var;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

    &:hover {
        color: #535bf2;
    }
}
  
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: var.$bgImage;
    background-size: cover;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.loginBtns {
    display: flex;
    justify-content: center;
    gap: 10px;

    button {
        background-color: var.$whiteBgColor;
    }
}

.startpage {
    .loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 5px solid var.$purpleColor;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        min-height: 60vh;
        width: 40vw;

        h2 {
            text-transform: capitalize;
            margin-top: 3em;
            margin-bottom: 2em;
        }

        input {
            margin: 10px;
            padding: 0.6rem;
            padding-left: 1.3rem;
            padding-right: 1.3rem;
            border: 2px solid #e1e1e1;
            border-radius: 5px;
            font-family: inherit;
        }

        button {
            margin-top: 2em;
        }
    }

    .greeting {
        margin-top: 4em;
    }

    .optionContainer {
        button {
            margin: 10px;
        }
    }

    section.editContainer {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;

        form {
            margin-top: 0.6em;
            margin-right: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            label {
                margin: 0;
                font-weight: 400;
                color: var.$blackTextColor;
            }
    
            input {
                padding: 0.3em;
                width: 28em;
                margin-bottom: 1em;
                text-align: center;
            }
    
            input, textarea {
                border-radius: 7px;
                border: 2px solid #eee;
                font-family: inherit;
            }
    
            textarea {
                padding: 1em;
                width: 27em;
                margin-bottom: 1em;
            }
    
            input, textarea.summaryInput, button {
                align-self: center;
            }

            .buttonContainerEditMode {
                button {
                    margin: 0.5em;
                    color: var.$blackTextColor;
                    padding-left: 2em;
                    padding-right: 2em;
                    text-transform: capitalize;
        
                    &:hover {
                        background-color: var.$purpleColor;
                        transform: translate(-100%, 0) rotate(10deg);
                        transition: 0.2s transform ease-out;
                        transform: scale(1.05);
                        will-change: transform;
                    }
                }
            }
        }

        .textPreview {
            background-color: #ffffff;
            color: var.$blackTextColor;
            margin-left: 3em;
            width: 50%;
            height: 40.5em;
            border: 2px solid #eee;
            border-radius: 7px;
            overflow-y: scroll;
            scrollbar-width: thin;

            p {
                width: 95%;
                margin: 0 auto;
            }
    
            p.centeredText {
                text-align: center;
                width: 80%;
                margin-top: 10px;
            }
    
            div.leftAlignedText {
                text-align: left;
                margin-top: 10px;
            }
        }
    }

    section.viewDocumentContainer {
        background-color: var.$whiteBgColor;
        width: 80%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 1em;
        height: 40.5em;
        border: 2px solid #eee;
        border-radius: 9px;
        overflow-y: scroll;
        scrollbar-width: thin;

        p.centeredText {
            text-align: center;
            margin-top: 10px;
        }

        div.leftAlignedText {
            text-align: left;
            margin-top: 10px;
        }

        p.centeredText, div.leftAlignedText {
            width: 80%;
            margin: 0 auto;
        }
    }

    button.editBtn {
        background-color: var.$whiteBgColor;
    }

    section.documentViewerContainer {
        display: flex;
        flex-wrap: wrap;

        .documentOverviewCard {
            background-color: var.$whiteBgColor;
            border-top: 5px solid var.$purpleColor;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            min-height: 20em;
            width: 25%;
            margin: 0 auto;
            margin-top: 2em;
            padding: 1em;
        }
    }
}

button {
    background-color: #e1e1e1;
    color: var.$blackTextColor;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color .25s;

    &:hover {
        background-color: var.$purpleColor;
        transform: translate(-100%, 0) rotate(10deg);
        transition: 0.2s transform ease-out;
        transform: scale(1.05);
        will-change: transform;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: var.$blackTextColor;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}
  